#home-section{
    background: black;
}
#aaha{
    background: black;
}
#jurassic{
    background: black;
}
#vaashi{
    background: black;
}
#vikram{
    background: black;
}
#rock{
    background: black;
}
#pathaam{
    background: black;
}
#text{
    margin-left: 130px;
}
#upcomming{
background: black;
}
.footer{
    background: black;
}
#join{
    background: black;
}
